MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=music_streaming
MONGODB_TRACKS_COLLECTION=tracks_legacy
APP_BASE_URL=http://localhost:8888
STORAGE_ROOT=./storage
DISCOVERY_OPT_IN=false
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_API_BASE=https://api-m.sandbox.paypal.com
